.qcmButton, #qcmButtonT, #qcmButtonF {
    border-radius: 15px;
    padding:  5px 10px 5px 10px;
    background-color: white;
    border: solid 2px blueviolet;
    margin: 5px;
    cursor: pointer;
    box-shadow:3px 3px 5px grey;
    word-wrap: wrap;
    color: black;
}


.qcmButton:hover {
    background-color: blueviolet !important;
    color: white !important;
}

.winButton, #winButtonT, #winButtonF {
    background-color: #ffc800;
    border: 2px #ffc800;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    padding:  5px 10px 5px 10px;
    box-shadow:3px 3px 5px grey;
    word-wrap: wrap;

}


.lostButton, #lostButtonT, #lostButtonF {
    border-radius: 15px;
    padding:  5px 10px 5px 10px;
    background-color: blueviolet;
    color: white;
    border: solid 2px blueviolet;
    margin: 5px;
    cursor: pointer;
    box-shadow:3px 3px 5px grey;
    word-wrap: wrap;

}

.winLogo , .lostLogo{
    width: 100%;
}

.imageWin {
    position: absolute;
    top: 80px;
    left:12px;
    transform: rotate(-20deg);

}

.imageLost {
    position:absolute;
    top: 80px;
    left:12px;
    transform: rotate(-20deg);
}
.noImage{
    display: none;
}
.button-order {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.button-order :nth-child(2) { 
    order: 1; }
.button-order :nth-child(3) { 
    order: 2; }
.button-order :nth-child(4) { 
    order: 3; }
