.category-img { 
    width: 100%;
    opacity: 0.6;
    height: 220px;
}

.category-img:hover {
    opacity: 1;
    cursor: pointer;
}

.name-category { 
    margin: 10px;
    font-size: 18px;   
}

.ListCategory { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 100%;
    box-shadow: 10px 10px 10px rgb(177, 175, 175);
}

@media screen and (min-width : 300px) {
    
    .all-category {
        width: 75%;
    }
}

@media screen and (min-width : 600px) {
    
    .all-category {
        width: 45%;
    }
}

@media screen and (min-width : 900px) {
    
    .all-category {
        width: 30%;
    }
}

@media screen and (min-width : 1500px) {
    
    .all-category {
        width: 20%;
    }
}




